body{
    background-color: #14213D;
}
header{
    color:white;
    text-align: center;
}

*{
    box-sizing: border-box;
}

.main{
    display:flex;
    flex-flow:column
}
.container{
    
    border-radius:8px;
    border:5px solid #FCA311;
    position:absolute;
    height:70vh;
    width:30%;
    background-color: #E5E5E5;
    box-shadow: 2px 2px 15px rgb(219, 219, 219),
    -2px -2px 15px rgb(219, 219, 219);
    left:50%;
    top:50%;
    padding:2rem;
    transform:translate(-50%,-50%);
    margin-top:1em;
    
    
}

.container-header{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height:20%;
    
    width:auto;
}

.container-header input{
    height:1.5rem;
    width:60%;
}


.log{

    height:60%;
    border:solid black 1px;
    margin-bottom:2rem;
    overflow-y:scroll;
    border-radius: 4px;
    width:90%;
}

.log p{
    margin:0;

}
.container-footer{
    height:20%;
   
    width:auto;
}

#final{
    visibility: hidden;
}
@media(max-width:1200px){
    .container{
    

        position:absolute;
        height:85vh;
        padding:0;
       
    }
    
}